.mainBlock {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	justify-content: flex-start;
	justify-items: center;
	margin: 0 auto;
	padding: 32px;
	gap: 16px;
}

@media screen and (max-width: 938px) {
	.mainBlock {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.mainBlock {
		grid-template-columns: repeat(1, 1fr);
	}
}
