.dropdown {
	display: grid;
	grid-auto-rows: 1fr;
	align-items: start;
	justify-content: space-evenly;
	position: absolute;
	top: 40px;
	right: -110%;
	width: 180px;
	height: auto;
	min-height: 80px;
	max-height: 120px;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 20px;
	background: rgb(255, 251, 242);
	cursor: pointer;
	z-index: 100;
	gap: 8px;
}
