.logoBlock {
	display: flex;
	text-align: center;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 600;

	&:hover {
		transition: color 0.2s ease-in-out;
		color: SandyBrown;
	}

	&:active {
		span {
			scale: 0.9;
		}
	}
}
